*{
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{  
    height:100vh;
    width: 100%;
    direction: rtl;
}
header{
    background-color: teal;
    padding: 20px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 30px;
    font-weight: 600;
    color: white;
}
li{
    display: inline-block;
}
a{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-right: 25px;
}
a:hover{
    color: black;
}
button{
    width:90px;
    background-color: black;
    color: white;
    border:none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight:bold;
}
button:hover{
    background-color: rgb(157, 159, 161);
}
.swap{
    width: 300px;
    height:300px;
    margin-top: 10%; 
    margin-right: 15%;
    border-radius: 8px;
    transition: 0.2s ease;
}
.swap:hover{
    content: url("../images/img_2.jpg");
    cursor: pointer;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header ul {
        flex-direction: column;
        gap: 10px;
    }

    header ul li a {
        font-size: 20px;
    }

    header button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
   
}

